.caixa{
    background-color: firebrick !important;
}
.titulo{
    color: white !important;
    font-weight: bold !important;
}
.botao{
    border-color: white !important;
    background-color: blue !important;
    color: white !important;
}
.postagens{
    background-color: white !important;
}